# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
.DS_Store

# Virtual Environment
venv/
env/
.env

# Logs and databases
*.log
*.sqlite3
/py-homeworks-advanced/
/Web_Scraping/Lesson/
/Web_Scraping/test.py
/Web_Scraping/article.json
/Web_Scraping/Web_scraping.py
/Web_Scraping/Web_scraping_3.py
/Web_Scraping/Web_scraping_4.py
/Shop/
/Decorators/Lesson/
/Iterators/Lesson/
/Tests/Lesson/
